@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply font-sans text-gray-900;
    min-height: 100vh;
  }

  * {
    @apply box-border;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-brand-pink via-brand-purple to-brand-blue bg-clip-text text-transparent;
  }
}
